<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>secret</title>

    <link rel="shortcut icon" href="{{url_for('static', filename='favion.ico')}}" type="image/x-icon">
    <link rel="icon" href="{{url_for('static', filename='favion.ico')}}" type="image/x-icon">

    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    <!-- style css -->
    <link rel="stylesheet" href="../static/style.css">


</head>

<body>
    <nav class="navbar is-fixed-top is-white" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="{{ url_for('static', filename='logo-red.png') }}" />
                <strong class="is-sparta logo-text">SWEETER</strong>
            </a>
        </div>
    </nav>
    
    <section class="hero is-small is-white">
        <div class="hero-body">
            <br>
            <p class="title">
                Welcome to Sweter secret page 
            </p>
            <p class="subtitle">
                You should be logged in
            </p>
            <p class="subtitle">{{ user_info.profile_name }}</p>
        </div>
    </section>


</body>

</html>